@tailwind base;
@tailwind components;
@tailwind utilities;

#experience .vertical-timeline-element-date-custom {
  margin-right: 16px;
  margin-left: 16px;
}

#experience .vertical-timeline-element-icon-custom {
  background: #fff;
}

#experience .vertical-timeline-element-icon-custom > svg {
  width: 30px;
  height: 30px;
  margin-left: -15px;
}

.borderBlack {
  @apply border border-black/10;
}

.btnScale {
  @apply hover:scale-110 focus:scale-110 active:scale-105;
}
